//text colors
$mainText-color: #ffff;
$secText-color: #089BD9;
$thirdText-color: #333333;
$forthText-color: #72808E;

// background colors
$main-color: #fff;
$sec-color: #F7F7F7;
$third-color: #089BD9;
$forth-color:#F6F6F6;
$fifth-color:#386F8F;