@font-face {
    font-family: ProximaNovaBold;
    src: url("../fonts/ProximaNova/ProximaNovaBold.otf");
  }
  @font-face {
    font-family: ProximaNova-Regular;
    src: url("../fonts/ProximaNova/ProximaNova-Regular.otf");
  }

