.find{
    display: flex;
    margin: auto;
}
.findHead{
    padding-top: 40px;
}
.find-us{
    background-color: $third-color;
}
.findUs{
    color: $mainText-color;
    font-family: "ProximaNova-Regular",sans-serif;
    font-size: 36px;
    letter-spacing: normal;
    margin: auto;
    text-align: center;
    line-height: 44px;
}
.findUS{
    padding-top: 20px;
    padding-bottom: 40px;
}
.find li{
    float: left;
    list-style: none;
    padding: 25px;
}
.find li a:hover{
    opacity: 60%;
}
// X-Small devices (portrait phones, less than 576px)
@media only screen and  (max-width: 575.98px) { 
    .findUs{
        font-size: 30px;
        line-height: 40px;
    }
}