//networks
.social-networks{
    background-color: $forth-color;
}
.social-network{
    padding-top: 40px;
    margin-bottom: 40px;
}
.social .tax{
    background-color: $main-color;
    margin:15px;
    padding-top: 34px;
    padding-bottom: 20px;
}
.social .women{
    background-color: $main-color;
    margin: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.social .profits{
    background-color: $third-color;
    margin: 15px;
    padding-top: 20px;
    padding-bottom: 20px;   
}
.social .check{
    background-color: $main-color;
    margin: 15px;
    padding-top: 41px;
    padding-bottom: 20px;
}
.info-dark{
    color: $thirdText-color;
    font-family: "ProximaNova-Regular",sans-serif;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
}
.info-white{
    color: $mainText-color;
    font-family: "ProximaNova-Regular",sans-serif;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
}
//images
.images{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
}
//form
.contact-box{
    padding-left: 30px;
}
.social-form{
    text-align: left;
    font-family: "ProximaNova-Regular",sans-serif;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 43px;
    padding-top: 50px;
    padding-bottom: 60px;
}
.ptext{
    margin-bottom: 15px;
}
#email{
    width: 100%;
    margin-bottom: 50px;
    padding: 30px;
    margin-left: 10px;
    background-color: $forth-color;
    border: 2px solid $third-color;
}
.button{
    height: 70px;
    width: 190px;
    border: none;
    background-color: $third-color;
    color: $main-color;
    font-family: "ProximaNova-Regular",sans-serif;
    font-size: 18px;
}
.button:hover{
    opacity: 80%;
}
//media querries
// Large devices (desktops, less than 1200px)
@media only screen and  (max-width: 1199.98px) { 
    .info-dark, .info-white{
        font-size: 15px;
        line-height: 20px;
    }
    .social-form{
        font-size: 35px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #email{
        margin-bottom: 30px;
    }
}
// Medium devices (tablets, less than 992px)
@media only screen and  (max-width: 991.98px) {
    .social-form{
        font-size: 28px;
        padding-bottom: 38px;
        line-height: 35px;
    }
    #email{
        margin-bottom: 30px;
        padding: 18px;
    }
    .button{
        height: 60px;
        width: 180px;
    }
}
// Small devices (landscape phones, less than 768px)
@media only screen and (max-width: 767.98px) { 
    .images{
        width: 20%;
    }
    .contact-box{
        padding-left: 5px;
    }
    .social-form{
        padding-top: 0px;
        padding-bottom: 20px;
    }
    #email{
        margin-bottom: 20px;
    }
    .button{
        height: 50px;
        width: 180px;
        margin-bottom: 20px;
    }
}
// X-Small devices (portrait phones, less than 576px)
@media only screen and  (max-width: 575.98px) { 
    #email{
        width: 90%;
    }
    .social .profits {
        margin: 0;
    }
}